.messages{
    padding: 10px;
    height: calc(100% - 160px);
    overflow-y: scroll;
}

.date-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-date {
    display: inline-block;
    background-color: white;
    padding: 5px 10px;
  }
  